In [ ]:
# Python Assignment 2: Data Structures - List, Dictionary, Set & Conditional Statements
# List (Creation, Modification and Access):

1. # List (Creation, Modification and Access):
# List Creation:

# a. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

age_list= [24,25,26,27,28]
age_list

[24, 25, 26, 27, 28]

In [ ]:
# b. Create a list named name_list with five string elements.
Name_list= ['Sangeetha','Agila','Ajitha','Maha','Suganya']
Name_list

['Sangeetha', 'Agila', 'Ajitha', 'Maha', 'Suganya']

In [ ]:
# 2. List Operations / Modifications:
# a. Append the string "Yazhini" to name_list.
Name_list.append("Yazhini")
Name_list

['Sangeetha', 'Agila', 'Ajitha', 'Maha', 'Suganya', 'Yazhini']

In [ ]:
# b. Insert the element 30 at index 2 in age_list
age_list[2]=30
age_list

[24, 25, 30, 27, 28]

In [ ]:
# c. Remove the string "Yazhini" from name_list
Name_list.remove('Yazhini')
Name_list

['Sangeetha', 'Agila', 'Ajitha', 'Maha', 'Suganya']

In [ ]:
# d. Pop the last element from age_list
age_list.pop()
age_list

[24, 25, 30, 27]

In [ ]:
# e. Extend the age_list with additional ages [29, 30, 26].
age_list.extend([29,30,26])
age_list

[24, 25, 30, 27, 29, 30, 26]

In [ ]:
# f. Sort age_list in descending order.
age_list.sort(reverse=True)
age_list

[30, 30, 29, 27, 26, 25, 24]

In [ ]:
# g.Find Max age, Min age and sum of all ages from age_list
max_age = max(age_list)
min_age = min(age_list)
total_age = sum(age_list)

print("Max Age:", max_age)
print("Min Age:", min_age)
print("Sum of Ages:", total_age)

Max Age: 28
Min Age: 24
Sum of Ages: 130

In [ ]:
# 3. Accessing List Elements:
#a. Print the first element of name_list.
Name_list[0]

'Sangeetha'

In [ ]:
#b. Print the last element of name_list.
Name_list[-1]

'Suganya'

In [ ]:
# c. Print the elements from index 2 to index 4 in name_list.
print(Name_list[2:5])

['Ajitha', 'Maha', 'Suganya']

In [ ]:
# d. Print the elements of name_list in reverse order
Name_list[::-1]

['Suganya', 'Maha', 'Ajitha', 'Agila', 'Sangeetha']

In [ ]:
# Dictionary (Creation, Modification and Access):
# a. Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).
student_marks = {
    'Sangeetha': 98,
    'Agila': 92,
    'Ajitha': 88,
    'Maha': 100,
    'Suganya': 97
}
student_marks

{'Sangeetha': 98, 'Agila': 92, 'Ajitha': 88, 'Maha': 100, 'Suganya': 97}

In [ ]:
# b. Access and print the mark of a specific student, of your choice
print(student_marks['Maha'])

100

In [ ]:
# Add a new student "Janani" with a mark of 80 to the student_marks dictionary
student_marks["Janani"] = 80
student_marks

{'Sangeetha': 98,
 'Agila': 92,
 'Ajitha': 88,
 'Maha': 100,
 'Suganya': 97,
 'Janani': 80}

In [ ]:
# d. Update the mark of any one older student to 82.
student_marks['Agila']=82
student_marks

{'Sangeetha': 98,
 'Agila': 82,
 'Ajitha': 88,
 'Maha': 100,
 'Suganya': 97,
 'Janani': 80}

In [ ]:
# e. Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.
print(student_marks.keys())
print(student_marks.values())
print(student_marks.items())

dict_keys(['Sangeetha', 'Agila', 'Ajitha', 'Maha', 'Suganya', 'Janani'])
dict_values([98, 82, 88, 100, 97, 80])
dict_items([('Sangeetha', 98), ('Agila', 82), ('Ajitha', 88), ('Maha', 100), ('Suganya', 97), ('Janani', 80)])

In [ ]:
# Sets (Operations):
#a. Create a set called my_set with following values:

# In this list, a appears 3 times, i appears 2 times. Others appear once.
# ['a','e','i','o','u','a','a','i']
# When we convert it to a set
# Set in Python automatically removes duplicates. #It only keeps unique elements.
my_set={'a','e','i','o','u','a','a','i'}
my_set

{'a', 'e', 'i', 'o', 'u'}

In [ ]:
# b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.
my_set[4]='s'

#Code throws an error because sets in Python are unordered and unindexed.
#We cannot access or modify a specific element using an index.
# To add or remove elements in a set, we should use set methods like add() or remove().

TypeError: 'set' object does not support item assignment

In [ ]:
#Create two sets:
# set1 with values: {1, 3, 5, 7, 9}
# set2 with values: {2, 3, 5, 8, 10}

set1={1, 3, 5, 7, 9}
set2={2, 3, 5, 8, 10}
print(set1,set2)

{1, 3, 5, 7, 9} {2, 3, 5, 8, 10}

In [ ]:
# d. Compute and print the union and intersection of set1 and set2.
#union
sets=set1|set2
print(sets)

{1, 2, 3, 5, 7, 8, 9, 10}

In [ ]:
# intersection
common_numbers=set1 & set2
print(common_numbers)

{3, 5}

In [ ]:
# Performance Category Program

# Step 1: Prompt user for input
score = int(input("Enter your score (0 to 10): "))

# Step 2: Determine performance category based on criteria
if score > 7:
    print("Above Average: Excellent work! You're doing great, keep pushing forward!")
elif 4 <= score <= 7:
    print("Average: Good effort! Keep practicing, there's room for improvement.")
else:  # score < 4
    print("Below Average: Need to improve your performance, consistent practice will lead to better results.")

Enter your score (0 to 10): 8
Above Average: Excellent work! You're doing great, keep pushing forward!