In [ ]:
string1 = "Hello "
string2 =  input('enter your name: ')
print(string1+string2)
string3 = ", Welcome to Python Programming"
print(string1+string2+string3)

enter your name: Sangeetha
Hello Sangeetha
Hello Sangeetha, Welcome to Python Programming

In [ ]:
#2.String Slicing and Indexing:
string=("Hello Sangeetha, welcome to Python Programming")

# a. Print the first character of the string.
print(string[0])

H

In [ ]:
# b. Print the last character of the string
print(string[-1])

g

In [ ]:
# c. Print the first 5 characters of the string
print(string[0:6])

Hello

In [ ]:
# d. Print the last 11 characters of the string
print(string[35:49])

Programming

In [ ]:
# e. Print the string in reverse.
print(string[::-1])

gnimmargorP nohtyP ot emoclew ,ahteegnaS olleH

In [ ]:
# f. Use slicing and print the word “Python” from the existing string
text=" Python "
print(text[ text.index("Python") : text.index("Python") + 6 ])

Python

In [ ]:
# 3. String Methods:
strM = ("Python beginner tutorial")
print(strM)

Python beginner tutorial

In [ ]:
# a.Convert the sentence to uppercase.
strM.upper()

'PYTHON BEGINNER TUTORIAL'

In [ ]:
# b.Convert the sentence to lowercase.
strM.lower()

'python beginner tutorial'

In [ ]:
#c.Use Capitalize and return the sentence to the original input form.
strM.capitalize()

'Python beginner tutorial'

In [ ]:
# d. Count the total number of occurrences of character ‘t’ in the string.
strM = ("Python beginner tutorial")
strM.count("t")

3

In [ ]:
 # e. Replace all occurrences of “Python” with “Machine Learning” in the input string strM = “Python beginner tutorial”.
strM = ("Python beginner tutorial")
strM.replace("Python", "Machine Learning")

'Machine Learning beginner tutorial'

In [ ]:
# Tuples (Creation, Modification and Access) :
# Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):


tuple1=(10,20,30)
tuple2=(40,50,60)
print(tuple1,tuple2)

(10, 20, 30) (40, 50, 60)

In [ ]:
# a. Concatenate the two tuples and store it in “t_combine”.
t_combine= tuple1 + tuple2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [ ]:
# b. Repeat the elements of “t_combine” 3 times
(t_combine)*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [ ]:
# c. Access the 3rd element from “t_combine”
t_combine[3]

40

In [ ]:
# d. Access the first three elements from “t_combine”
t_combine[:3]

(10, 20, 30)

In [ ]:
# e. Access the last three elements from “t_combine”
t_combine[::-3]

(60, 30)